@model IEnumerable<E_Enchere_Admin.Models.Room>
<!-- fetch data from enumerate item objectlist -->
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-sm-flex align-items-center mb-4">
                    <h4 class="card-title mb-sm-0">Liste des Rooms</h4>

                </div>

                <div class="row pt-4">
                    <div class="col-6">
                        <h2 class="text-primary"> Rooms </h2>
                    </div>
                    <div class="col-6 text-rigth">
                        <a asp-controller="Room" asp-action="Create" class="btn btn-primary" > Create new room </a>
                    </div>
                </div>
                <br />
                @if (Model.Count() > 0)
                {
                    <div class="table-responsive border rounded p-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="font-weight-bold">#</th>
                                    
                                    <th class="font-weight-bold">NomRoom</th>
                                    <th class="font-weight-bold">Participants</th>
                                    <th class="font-weight-bold">Montant</th>
                                    <th class="font-weight-bold">Frais</th>
                                    <th class="font-weight-bold">Montant Lancement</th>
                                    <th class="font-weight-bold">Articles</th>
                                    <th class="font-weight-bold -center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var room in Model)
                                {

                                <tr>

                                    <td>@room.IdRoom </td>
                                    <td>@room.NomRoom </td>
                                    <td>@room.NombreParticipants</td>
                                    <td>@room.MontantEnchére</td>
                                    <td>@room.FraisRoom</td>
                                    <td>@room.MontantLancement</td>
                                    <td>@room.IdArticle</td>
                                    <td class="text-center">
                                        <a asp-controller="Room" asp-action="Details" asp-route-id="@room.IdRoom"
                                           class="btn btn-primary btn-sm">Détails</a>
                                        <a asp-action="Update" asp-controller="Room" class="btn btn-success btn-sm" asp-route-id="@room.IdRoom">Editer</a>
                                        <a asp-action="Delete" asp-controller="Room" class="btn btn-danger btn-sm" asp-route-id="@room.IdRoom">Supprimer</a>
                                    </td>
                                </tr>

                                }
                            </tbody>

                        </table>
                    </div>

               

    }
    else
    {
        <p> No articles created yet</p>
    }

            </div>
            </div>

            </div>
            </div>


